In [96]:
import pandas as pd

Pandas foe Analysis 
```
- dataset 
  -dictionary of items 
  -list of items
  -import csv files 
  -import excel files
  -import json files 

-creating dataframe 
-reading data 
-selection of data
-manipulating the data 
-cleaning the data 
-visualizing the data 
-saving the data

In [97]:
books = {
    'title' :['great expectations','to kill a mockingbird','pride and prejudice','the book thief','1984'],
    'author':['charles dickens','harper lee','jane austen','markus zusak','george orwell'],
    'pages' :[544,281,552,432,328],
    'price':[10.99,6.99,5.99,7.99,9.99]
}
pd.DataFrame(books)

                   title           author  pages  price
0     great expectations  charles dickens    544  10.99
1  to kill a mockingbird       harper lee    281   6.99
2    pride and prejudice      jane austen    552   5.99
3         the book thief     markus zusak    432   7.99
4                   1984    george orwell    328   9.99

In [98]:
movies=[
    {'title':'avengers','director': 'joss whedon','year':2012},
    {'title':'pk','director': 'rajkumar hirani','year':2014}
]
pd.DataFrame(movies)

      title         director  year
0  avengers      joss whedon  2012
1        pk  rajkumar hirani  2014

In [99]:
df=pd

In [100]:
df = pd.read_csv('kc_house_data.csv')
df

PermissionError: [Errno 13] Permission denied: 'kc_house_data.csv'

In [ ]:
# print first five rows by default
df.head(1)

AttributeError: module 'pandas' has no attribute 'head'

In [ ]:
# print last 5 rows by default 
df.tail(10)

NameError: name 'df' is not defined

In [ ]:
# print  
df.sample(5)

NameError: name 'df' is not defined

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
# prints the statistics of the dataframe
df.describe()

NameError: name 'df' is not defined

In [ ]:
df.describe(include='objects')

NameError: name 'df' is not defined

In [ ]:
df.shape

NameError: name 'df' is not defined

Selecting data in pandas 
```
*iloc-index based location
*loc-index based location

In [ ]:
#select row of 100th indexing position 
df.iloc[100]

NameError: name 'df' is not defined

In [ ]:
# select 1st, 10th, 20th row and 0th, 11th, 12th, 13th, 14th column
df.iloc[[1,10,20],[0,11,12,13,14]]

AttributeError: module 'pandas' has no attribute 'iloc'

In [ ]:
df.iloc[10:51, :10]

AttributeError: module 'pandas' has no attribute 'iloc'