In [ ]:
students ={
    "name" : "john",
    "class" : "12th",
    "roll_no" : 12,
    "age" : 17
}
print(students)

{'name': 'john', 'class': '12th', 'roll_no': 12, 'age': 17}

In [ ]:
temp ={
    'Lucknow': [25,30,35],
    'Delhi': [30,35,40],
    'Chennai': [24,23,22]
    }
print(temp)

{'Lucknow': [25, 30, 35], 'Delhi': [30, 35, 40], 'Chennai': [24, 23, 22]}

In [ ]:
info = dict(name='Riya',age=27,dept='HR',salary=30000)
print(info)

{'name': 'Riya', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [ ]:
info2 = dict(name=input("enter the name"),age=int(input("enter the age")),
            dept=input("enter the department"),salary=int(input("enter the salary")))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
print(info2)

{'name': 'john', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [ ]:
#1st method 
print(students["name"])
print(students["roll_no"])

john
12

In [ ]:
#2nd method
print(students.get('name'))
print(students.get('age'))

john
17

In [ ]:
#to add a items in a dictionary 
students['school']= 'DPS'
students['city']= 'lucknow'
print(students)

{'name': 'john', 'class': '12th', 'roll_no': 12, 'age': 17, 'school': 'DPS', 'city': 'lucknow'}

In [ ]:
for x in students:
    print(x)

name
class
roll_no
age
school
city

In [ ]:
for k, v in students.items():
    print(f'{k} : {v}')

name : john
class : 12th
roll_no : 12
age : 17
school : DPS
city : lucknow

In [ ]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'school', 'city'])
dict_values(['john', '12th', 12, 17, 'DPS', 'lucknow'])
dict_items([('name', 'john'), ('class', '12th'), ('roll_no', 12), ('age', 17), ('school', 'DPS'), ('city', 'lucknow')])

In [ ]:
company = {
    'emp001' : {
    'name' : 'john',
    'age' : '27',
    'dept' : 'HR',
    'salary' : '30000',
},
    'emp002' :{
    'name': 'anu',
    'age': '22',
    'dept': 'IT',
    'salary': '20000',    
},
'emp003': {
    'name': 'lee min hoo',
    'age': '32',
    'dept': 'actor',
    'salary': '450000',
}
}
print(company)

{'emp001': {'name': 'john', 'age': '27', 'dept': 'HR', 'salary': '30000'}, 'emp002': {'name': 'anu', 'age': '22', 'dept': 'IT', 'salary': '20000'}, 'emp003': {'name': 'lee min hoo', 'age': '32', 'dept': 'actor', 'salary': '450000'}}

In [ ]:
from pprint import pp

In [ ]:
pp(company)

{'emp001': {'name': 'john', 'age': '27', 'dept': 'HR', 'salary': '30000'},
 'emp002': {'name': 'anu', 'age': '22', 'dept': 'IT', 'salary': '20000'},
 'emp003': {'name': 'lee min hoo',
            'age': '32',
            'dept': 'actor',
            'salary': '450000'}}

In [ ]:
print(company['emp001']['dept'])

HR

In [6]:
print(temp["Lucknow"[1]])
print(temp["Delhi"[2]])

In [ ]:
print('Average temperature in Delhi:', sum(temp["Delhi"])/len(temp["Delhi"]))

NameError: name 'temp' is not defined

In [ ]:
report ={
    'Alex': {
        'english':85,
        'maths':90,
        'hindi':79
    },
    'rahul':{
        'english':88,
        'maths':77,
        'hindi':66
    },
}
pp(report)

{'Alex': {'english': 85, 'maths': 90, 'hindi': 79},
 'rahul': {'english': 88, 'maths': 77, 'hindi': 66}}

In [ ]:
for students,marks in report.items():
    print(students)
    for subject,mark in marks.items():
        print('->', subject,mark)
    print('-> total marks:', sum(marks.values()))

Alex
-> english 85
-> maths 90
-> hindi 79
-> total marks: 254
rahul
-> english 88
-> maths 77
-> hindi 66
-> total marks: 231

In [ ]:
from pprint import pp

In [ ]:
pp(company)

In [ ]:
print(company['emp001']['dept'])

In [ ]:
print(students.get('name'))
print(students.get('age'))